<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录访问hello1</title>
</head>
<body>
欢迎进入登录界面
<p th:text="login"/>
<table border="5px">
    <form action="${pageContext.request.contextPath}/user/login" method="post">
        <tr>
            <td>用户</td>
            <td><input type="text" name="username" placeholder="请输入用户名"></td>
        </tr>

        <tr>
            <td>密码</td>
            <td><input type="password" name="password" placeholder="请输入密码"></td>
        </tr>

        <tr>
            <td>  <input type="reset" th:value="重置"></td>
            <td><input type="submit" value="提交"></td>
        </tr>
    </form>
</table>
</body>
</html>