<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录访问hello</title>
    <script type="text/javascript" src="/js/jquery-1.8.3.js"  th:src="@{/js/jquery-1.8.3.js}"></script>
    <script type="text/javascript" src="/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
    <script type="text/javascript" src="/js/china.js" th:src="@{/js/china.js}"></script>
</head>
<body>
<p th:text="访问一次"/>
<!--从dataset获取-->
<div id="china" style="width: 600px;height: 600px;"></div>
<script>
    var myChart = echarts.init($("#china").get(0));

    var option = {
        title: {
            text: '同用一个x,y轴，展示三个部分'
        },
        xAxis: {
            data:['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep',
                'Oct','Nov','Dec' ],
        },
        yAxis: {},
        series: [
            {
                type:'pie',
                // 65%是与左边的百分比，60是与顶部的距离
                center:['65%',60],
                //这个是调圆形框的大小
                radius: 30,
                data:[
                    {name:'XX',value:52},
                    {name:'YY',value:42},
                    {name:'ZZ',value:78}
                ]
            },{
                type:'line',
               data:[34,28,45,69,39,43,33,23,23,33,39,22]
            },{
             type:'bar',
                data:[20,14,32,46,24,23,23,13,16,20,24,15]
            }
        ]
    };

    myChart.setOption(option);
</script>
</body>
</html>