<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录访问hello</title>
    <script type="text/javascript" src="/js/jquery-1.8.3.js"  th:src="@{/js/jquery-1.8.3.js}"></script>
    <script type="text/javascript" src="/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
    <script type="text/javascript" src="/js/china.js" th:src="@{/js/china.js}"></script>
</head>
<body>
<p th:text="给人一种直观感"/>
<!--先定义一个容器-->
<div id="china" style="width: 600px;height: 600px;"></div>
<script>
    var myChart = echarts.init($("#china").get(0));

    var option = {
        grid:{
            left:130,
            right:'30%',
            height:'40%',
            bottom:110
        },
        title:{
            text:'Line China'
        },
        tooltip:{},
        toolbox:{
            feature:{
                dataView:{},
                saveAsImage:{
                    pixelRatio:2
                },
                restore:{}

            }        },
        xAxis:{},
        yAxis:{},
        series:[{
            type:'line',
            smooth:true,
            data:[ [12,5],[24,20],[36,36],[48,90],[60,10],[72,20] ]
        }
        ]
    };

    myChart.setOption(option);
</script>
</body>
</html>